USE [community_medicineDB]
GO
/****** Object:  Table [dbo].[Doctors]    Script Date: 02/17/2015 03:28:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctors](
	[DoctorID] [int] IDENTITY(1,1) NOT NULL,
	[DoctorName] [nvarchar](max) NULL,
	[Designation] [nvarchar](max) NULL,
	[Degree] [nvarchar](max) NULL,
	[Specialization] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Doctors] PRIMARY KEY CLUSTERED 
(
	[DoctorID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Doctors] ON
INSERT [dbo].[Doctors] ([DoctorID], [DoctorName], [Designation], [Degree], [Specialization]) VALUES (1, N'Dr Atik', N'Professor', N'MBBS', N'Cardiokigy')
INSERT [dbo].[Doctors] ([DoctorID], [DoctorName], [Designation], [Degree], [Specialization]) VALUES (2, N'Dr Masum', N'Ast Professor', N'FRCP', N'Skin')
INSERT [dbo].[Doctors] ([DoctorID], [DoctorName], [Designation], [Degree], [Specialization]) VALUES (3, N'Dr Hasan', N'Professor', N'MBBS', N'General')
SET IDENTITY_INSERT [dbo].[Doctors] OFF
/****** Object:  Table [dbo].[MedicineStockViewModels]    Script Date: 02/17/2015 03:28:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicineStockViewModels](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MedicineName] [nvarchar](max) NULL,
	[WeightContains] [nvarchar](max) NULL,
	[MG_ML] [nvarchar](max) NULL,
	[Quantity] [int] NOT NULL,
	[MedicineId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.MedicineStockViewModels] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medicines]    Script Date: 02/17/2015 03:28:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medicines](
	[MedicineID] [int] IDENTITY(1,1) NOT NULL,
	[MedicineName] [nvarchar](max) NOT NULL,
	[WeightContaints] [nvarchar](max) NULL,
	[MG_ML] [nvarchar](max) NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Medicines] PRIMARY KEY CLUSTERED 
(
	[MedicineID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Medicines] ON
INSERT [dbo].[Medicines] ([MedicineID], [MedicineName], [WeightContaints], [MG_ML], [Quantity]) VALUES (1, N'Napa', N'10', N'mg', 1900)
INSERT [dbo].[Medicines] ([MedicineID], [MedicineName], [WeightContaints], [MG_ML], [Quantity]) VALUES (2, N'Antacid', N'100', N'ml', 0)
INSERT [dbo].[Medicines] ([MedicineID], [MedicineName], [WeightContaints], [MG_ML], [Quantity]) VALUES (3, N'Painkiller', N'30.5', N'mg', 400)
SET IDENTITY_INSERT [dbo].[Medicines] OFF
/****** Object:  Table [dbo].[MedicineDoses]    Script Date: 02/17/2015 03:28:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicineDoses](
	[MedicineDoseID] [int] IDENTITY(1,1) NOT NULL,
	[DosePattern] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.MedicineDoses] PRIMARY KEY CLUSTERED 
(
	[MedicineDoseID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[MedicineDoses] ON
INSERT [dbo].[MedicineDoses] ([MedicineDoseID], [DosePattern]) VALUES (1, N'0+0+1')
INSERT [dbo].[MedicineDoses] ([MedicineDoseID], [DosePattern]) VALUES (2, N'0+1+0')
INSERT [dbo].[MedicineDoses] ([MedicineDoseID], [DosePattern]) VALUES (3, N'1+0+0')
SET IDENTITY_INSERT [dbo].[MedicineDoses] OFF
/****** Object:  Table [dbo].[Districts]    Script Date: 02/17/2015 03:28:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Districts](
	[DistrictID] [int] IDENTITY(1,1) NOT NULL,
	[DistrictName] [nvarchar](max) NULL,
	[Population] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Districts] PRIMARY KEY CLUSTERED 
(
	[DistrictID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Districts] ON
INSERT [dbo].[Districts] ([DistrictID], [DistrictName], [Population]) VALUES (1, N'Dhaka', 15000000)
INSERT [dbo].[Districts] ([DistrictID], [DistrictName], [Population]) VALUES (2, N'Rangpur', 5040056)
INSERT [dbo].[Districts] ([DistrictID], [DistrictName], [Population]) VALUES (3, N'Rajshahi', 6055668)
SET IDENTITY_INSERT [dbo].[Districts] OFF
/****** Object:  Table [dbo].[Deseases]    Script Date: 02/17/2015 03:28:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Deseases](
	[DeseaseID] [int] IDENTITY(1,1) NOT NULL,
	[DeseaseName] [nvarchar](max) NOT NULL,
	[TreatmentProcedure] [nvarchar](max) NOT NULL,
	[PreferedMedicines] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Deseases] PRIMARY KEY CLUSTERED 
(
	[DeseaseID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Deseases] ON
INSERT [dbo].[Deseases] ([DeseaseID], [DeseaseName], [TreatmentProcedure], [PreferedMedicines]) VALUES (1, N'Eczema', N'inhaler and anti azma drups', N' alclometasone,Histacine,Inhaler')
INSERT [dbo].[Deseases] ([DeseaseID], [DeseaseName], [TreatmentProcedure], [PreferedMedicines]) VALUES (2, N'Diarrhea', N'Give oral saline and minerales', N'Oral Saline,Flazil')
INSERT [dbo].[Deseases] ([DeseaseID], [DeseaseName], [TreatmentProcedure], [PreferedMedicines]) VALUES (3, N'Pain ', N'Give pain killer', N'Pain killer, Napa')
SET IDENTITY_INSERT [dbo].[Deseases] OFF
/****** Object:  Table [dbo].[Voters]    Script Date: 02/17/2015 03:28:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Voters](
	[VoterID] [int] IDENTITY(1,1) NOT NULL,
	[VoterNumber] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[DateOFBirth] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Voters] PRIMARY KEY CLUSTERED 
(
	[VoterID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Voters] ON
INSERT [dbo].[Voters] ([VoterID], [VoterNumber], [Name], [Address], [DateOFBirth]) VALUES (1, N'260922145666', N'ABM Musa', N'Dhaka', N'1924-12-29')
INSERT [dbo].[Voters] ([VoterID], [VoterNumber], [Name], [Address], [DateOFBirth]) VALUES (2, N'260922145777', N'ALi Masud', N'Dhaka', N'1964-12-29')
INSERT [dbo].[Voters] ([VoterID], [VoterNumber], [Name], [Address], [DateOFBirth]) VALUES (3, N'260922145999', N'Saleha Sakil', N'Dhaka', N'1988-12-29')
SET IDENTITY_INSERT [dbo].[Voters] OFF
/****** Object:  Table [dbo].[Accounts]    Script Date: 02/17/2015 03:28:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[AccountID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[UserRole] [nvarchar](max) NULL,
	[CommunityClinicID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Accounts] PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Accounts] ON
INSERT [dbo].[Accounts] ([AccountID], [UserName], [Password], [UserRole], [CommunityClinicID]) VALUES (6, N'head101', N'head101', N'Head', 0)
INSERT [dbo].[Accounts] ([AccountID], [UserName], [Password], [UserRole], [CommunityClinicID]) VALUES (7, N'bbb101', N'bbb101', N'Clinic', 3)
INSERT [dbo].[Accounts] ([AccountID], [UserName], [Password], [UserRole], [CommunityClinicID]) VALUES (8, N'kafrul1101', N'kafrul1101', N'Clinic', 4)
SET IDENTITY_INSERT [dbo].[Accounts] OFF
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 02/17/2015 03:28:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Thanas]    Script Date: 02/17/2015 03:28:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Thanas](
	[ThanaID] [int] IDENTITY(1,1) NOT NULL,
	[DistrictID] [int] NOT NULL,
	[ThanaName] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Thanas] PRIMARY KEY CLUSTERED 
(
	[ThanaID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Thanas] ON
INSERT [dbo].[Thanas] ([ThanaID], [DistrictID], [ThanaName]) VALUES (1, 1, N'Kafrul')
INSERT [dbo].[Thanas] ([ThanaID], [DistrictID], [ThanaName]) VALUES (2, 2, N'Sadar')
INSERT [dbo].[Thanas] ([ThanaID], [DistrictID], [ThanaName]) VALUES (3, 1, N'Cantonment')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
SET IDENTITY_INSERT [dbo].[Thanas] OFF
/****** Object:  Table [dbo].[CommunityClinics]    Script Date: 02/17/2015 03:28:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CommunityClinics](
	[CommunityClinicID] [int] IDENTITY(1,1) NOT NULL,
	[ThanaID] [int] NOT NULL,
	[ClinicName] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.CommunityClinics] PRIMARY KEY CLUSTERED 
(
	[CommunityClinicID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CommunityClinics] ON
INSERT [dbo].[CommunityClinics] ([CommunityClinicID], [ThanaID], [ClinicName]) VALUES (2, 1, N'Dhaka-1')
INSERT [dbo].[CommunityClinics] ([CommunityClinicID], [ThanaID], [ClinicName]) VALUES (3, 2, N'BBB')
INSERT [dbo].[CommunityClinics] ([CommunityClinicID], [ThanaID], [ClinicName]) VALUES (4, 1, N'kafrul1')
SET IDENTITY_INSERT [dbo].[CommunityClinics] OFF
/****** Object:  Table [dbo].[MedicineClinics]    Script Date: 02/17/2015 03:28:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicineClinics](
	[MedicineClinicID] [int] IDENTITY(1,1) NOT NULL,
	[Quantity] [int] NOT NULL,
	[CommunityClinicID] [int] NOT NULL,
	[Medicine_MedicineID] [int] NOT NULL,
	[Medicine_MedicineID1] [int] NULL,
 CONSTRAINT [PK_dbo.MedicineClinics] PRIMARY KEY CLUSTERED 
(
	[MedicineClinicID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[MedicineClinics] ON
INSERT [dbo].[MedicineClinics] ([MedicineClinicID], [Quantity], [CommunityClinicID], [Medicine_MedicineID], [Medicine_MedicineID1]) VALUES (1, 50, 2, 1, NULL)
INSERT [dbo].[MedicineClinics] ([MedicineClinicID], [Quantity], [CommunityClinicID], [Medicine_MedicineID], [Medicine_MedicineID1]) VALUES (4, 50, 2, 2, NULL)
INSERT [dbo].[MedicineClinics] ([MedicineClinicID], [Quantity], [CommunityClinicID], [Medicine_MedicineID], [Medicine_MedicineID1]) VALUES (5, 60, 3, 1, NULL)
SET IDENTITY_INSERT [dbo].[MedicineClinics] OFF
/****** Object:  Table [dbo].[DoctorClinics]    Script Date: 02/17/2015 03:28:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoctorClinics](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DoctorID] [int] NOT NULL,
	[CommunityClinicID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.DoctorClinics] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DoctorClinics] ON
INSERT [dbo].[DoctorClinics] ([ID], [DoctorID], [CommunityClinicID]) VALUES (1, 1, 2)
INSERT [dbo].[DoctorClinics] ([ID], [DoctorID], [CommunityClinicID]) VALUES (2, 2, 2)
INSERT [dbo].[DoctorClinics] ([ID], [DoctorID], [CommunityClinicID]) VALUES (3, 3, 3)
SET IDENTITY_INSERT [dbo].[DoctorClinics] OFF
/****** Object:  Table [dbo].[Treatments]    Script Date: 02/17/2015 03:28:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Treatments](
	[TreatmentID] [int] IDENTITY(1,1) NOT NULL,
	[CenterID] [int] NOT NULL,
	[DoctorID] [int] NOT NULL,
	[DeseaseID] [int] NOT NULL,
	[VoterNumber] [nvarchar](max) NULL,
	[Observation] [nvarchar](max) NULL,
	[Date] [datetime] NOT NULL,
	[CommunityClinic_CommunityClinicID] [int] NULL,
 CONSTRAINT [PK_dbo.Treatments] PRIMARY KEY CLUSTERED 
(
	[TreatmentID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Treatments] ON
INSERT [dbo].[Treatments] ([TreatmentID], [CenterID], [DoctorID], [DeseaseID], [VoterNumber], [Observation], [Date], [CommunityClinic_CommunityClinicID]) VALUES (2, 2, 2, 1, N'5644309456813', N'Fever', CAST(0x0000A0BF00000000 AS DateTime), NULL)
INSERT [dbo].[Treatments] ([TreatmentID], [CenterID], [DoctorID], [DeseaseID], [VoterNumber], [Observation], [Date], [CommunityClinic_CommunityClinicID]) VALUES (3, 3, 1, 1, N'9509623450915', N'Cold', CAST(0x0000A0DD00000000 AS DateTime), NULL)
INSERT [dbo].[Treatments] ([TreatmentID], [CenterID], [DoctorID], [DeseaseID], [VoterNumber], [Observation], [Date], [CommunityClinic_CommunityClinicID]) VALUES (4, 2, 2, 2, N'1098789543218', N'Malnutrition', CAST(0x0000A0E100000000 AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Treatments] OFF
/****** Object:  Table [dbo].[TreatmentMedicines]    Script Date: 02/17/2015 03:28:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TreatmentMedicines](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TreatmentID] [int] NOT NULL,
	[Medicine] [nvarchar](max) NULL,
	[Dose] [nvarchar](max) NULL,
	[QtyGiven] [int] NOT NULL,
	[Note] [nvarchar](max) NULL,
	[B4AfterMeal] [nvarchar](max) NULL,
	[MedicineId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.TreatmentMedicines] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TreatmentMedicines] ON
INSERT [dbo].[TreatmentMedicines] ([ID], [TreatmentID], [Medicine], [Dose], [QtyGiven], [Note], [B4AfterMeal], [MedicineId]) VALUES (1, 2, N'Napa', N'0-1-1', 10, N'not so bad', N'Before Meal', 0)
INSERT [dbo].[TreatmentMedicines] ([ID], [TreatmentID], [Medicine], [Dose], [QtyGiven], [Note], [B4AfterMeal], [MedicineId]) VALUES (2, 3, N'Napa', N'0-1-1', 10, N'not so bad', N'After Meal', 0)
INSERT [dbo].[TreatmentMedicines] ([ID], [TreatmentID], [Medicine], [Dose], [QtyGiven], [Note], [B4AfterMeal], [MedicineId]) VALUES (3, 4, N'Orsalaine', N'0-1-1', 2, N'Unaware', N'After Meal', 0)
SET IDENTITY_INSERT [dbo].[TreatmentMedicines] OFF
/****** Object:  Default [DF__Districts__Popul__2B3F6F97]    Script Date: 02/17/2015 03:28:35 ******/
ALTER TABLE [dbo].[Districts] ADD  DEFAULT ((0)) FOR [Population]
GO
/****** Object:  Default [DF__MedicineS__Medic__398D8EEE]    Script Date: 02/17/2015 03:28:35 ******/
ALTER TABLE [dbo].[MedicineStockViewModels] ADD  DEFAULT ((0)) FOR [MedicineId]
GO
/****** Object:  Default [DF__Treatment__Medic__3A81B327]    Script Date: 02/17/2015 03:28:35 ******/
ALTER TABLE [dbo].[TreatmentMedicines] ADD  DEFAULT ((0)) FOR [MedicineId]
GO
/****** Object:  ForeignKey [FK_dbo.CommunityClinics_dbo.Thanas_ThanaID]    Script Date: 02/17/2015 03:28:35 ******/
ALTER TABLE [dbo].[CommunityClinics]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CommunityClinics_dbo.Thanas_ThanaID] FOREIGN KEY([ThanaID])
REFERENCES [dbo].[Thanas] ([ThanaID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CommunityClinics] CHECK CONSTRAINT [FK_dbo.CommunityClinics_dbo.Thanas_ThanaID]
GO
/****** Object:  ForeignKey [FK_dbo.DoctorClinics_dbo.CommunityClinics_CommunityClinicID]    Script Date: 02/17/2015 03:28:35 ******/
ALTER TABLE [dbo].[DoctorClinics]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DoctorClinics_dbo.CommunityClinics_CommunityClinicID] FOREIGN KEY([CommunityClinicID])
REFERENCES [dbo].[CommunityClinics] ([CommunityClinicID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DoctorClinics] CHECK CONSTRAINT [FK_dbo.DoctorClinics_dbo.CommunityClinics_CommunityClinicID]
GO
/****** Object:  ForeignKey [FK_dbo.DoctorClinics_dbo.Doctors_DoctorID]    Script Date: 02/17/2015 03:28:35 ******/
ALTER TABLE [dbo].[DoctorClinics]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DoctorClinics_dbo.Doctors_DoctorID] FOREIGN KEY([DoctorID])
REFERENCES [dbo].[Doctors] ([DoctorID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DoctorClinics] CHECK CONSTRAINT [FK_dbo.DoctorClinics_dbo.Doctors_DoctorID]
GO
/****** Object:  ForeignKey [FK_dbo.MedicineClinics_dbo.CommunityClinics_CommunityClinicID]    Script Date: 02/17/2015 03:28:35 ******/
ALTER TABLE [dbo].[MedicineClinics]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MedicineClinics_dbo.CommunityClinics_CommunityClinicID] FOREIGN KEY([CommunityClinicID])
REFERENCES [dbo].[CommunityClinics] ([CommunityClinicID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MedicineClinics] CHECK CONSTRAINT [FK_dbo.MedicineClinics_dbo.CommunityClinics_CommunityClinicID]
GO
/****** Object:  ForeignKey [FK_dbo.MedicineClinics_dbo.Medicines_Medicine_MedicineID1]    Script Date: 02/17/2015 03:28:35 ******/
ALTER TABLE [dbo].[MedicineClinics]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MedicineClinics_dbo.Medicines_Medicine_MedicineID1] FOREIGN KEY([Medicine_MedicineID1])
REFERENCES [dbo].[Medicines] ([MedicineID])
GO
ALTER TABLE [dbo].[MedicineClinics] CHECK CONSTRAINT [FK_dbo.MedicineClinics_dbo.Medicines_Medicine_MedicineID1]
GO
/****** Object:  ForeignKey [FK_dbo.Thanas_dbo.Districts_DistrictID]    Script Date: 02/17/2015 03:28:35 ******/
ALTER TABLE [dbo].[Thanas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Thanas_dbo.Districts_DistrictID] FOREIGN KEY([DistrictID])
REFERENCES [dbo].[Districts] ([DistrictID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Thanas] CHECK CONSTRAINT [FK_dbo.Thanas_dbo.Districts_DistrictID]
GO
/****** Object:  ForeignKey [FK_dbo.TreatmentMedicines_dbo.Treatments_TreatmentID]    Script Date: 02/17/2015 03:28:35 ******/
ALTER TABLE [dbo].[TreatmentMedicines]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TreatmentMedicines_dbo.Treatments_TreatmentID] FOREIGN KEY([TreatmentID])
REFERENCES [dbo].[Treatments] ([TreatmentID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TreatmentMedicines] CHECK CONSTRAINT [FK_dbo.TreatmentMedicines_dbo.Treatments_TreatmentID]
GO
/****** Object:  ForeignKey [FK_dbo.Treatments_dbo.CommunityClinics_CommunityClinic_CommunityClinicID]    Script Date: 02/17/2015 03:28:35 ******/
ALTER TABLE [dbo].[Treatments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Treatments_dbo.CommunityClinics_CommunityClinic_CommunityClinicID] FOREIGN KEY([CommunityClinic_CommunityClinicID])
REFERENCES [dbo].[CommunityClinics] ([CommunityClinicID])
GO
ALTER TABLE [dbo].[Treatments] CHECK CONSTRAINT [FK_dbo.Treatments_dbo.CommunityClinics_CommunityClinic_CommunityClinicID]
GO
/****** Object:  ForeignKey [FK_dbo.Treatments_dbo.Deseases_DeseaseID]    Script Date: 02/17/2015 03:28:35 ******/
ALTER TABLE [dbo].[Treatments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Treatments_dbo.Deseases_DeseaseID] FOREIGN KEY([DeseaseID])
REFERENCES [dbo].[Deseases] ([DeseaseID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Treatments] CHECK CONSTRAINT [FK_dbo.Treatments_dbo.Deseases_DeseaseID]
GO
/****** Object:  ForeignKey [FK_dbo.Treatments_dbo.Doctors_DoctorID]    Script Date: 02/17/2015 03:28:35 ******/
ALTER TABLE [dbo].[Treatments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Treatments_dbo.Doctors_DoctorID] FOREIGN KEY([DoctorID])
REFERENCES [dbo].[Doctors] ([DoctorID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Treatments] CHECK CONSTRAINT [FK_dbo.Treatments_dbo.Doctors_DoctorID]
GO
