
@{
    ViewBag.Title = "HomePageClinic";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Welcome to Clinic management</h1>
<form class="form-group">
    <div class="row">
        <div class="col-md-3 form-group">
            <div class="list-group">
                <a href="#" class="list-group-item">
                    <span class="glyphicon glyphicon"></span> Pictures <span class="badge"></span>
                </a>
                <a href="#" class="list-group-item">
                    <span class="glyphicon glyphicon"></span> Documents <span class="badge"></span>
                </a>
                <a href="#" class="list-group-item">
                    <span class="glyphicon glyphicon"></span> Music <span class="badge"></span>
                </a>
                <a href="#" class="list-group-item">
                    <span class="glyphicon glyphicon"></span> Videos <span class="badge"></span>
                </a>
                <a href="#" class="list-group-item">
                    <span class="glyphicon glyphicon"></span> Videos <span class="badge"></span>
                </a>
                <a href="#" class="list-group-item">
                    <span class="glyphicon glyphicon"></span> Videos <span class="badge"></span>
                </a>

            </div>
        </div>
        <div class="col-md-6" style="height: 240px">

            <img src="~/rsz_clinical_integration_diagram.jpg" class="img-thumbnail" alt="Cinque Terre" width="600" />
        </div>
        <div class="col-md-3">
            <a href="#" class="list-group-item">
                <span class="glyphicon glyphicon"></span> Videos <span class="badge"></span>
            </a>
            <a href="#" class="list-group-item">
                <span class="glyphicon glyphicon"></span> Videos <span class="badge"></span>
            </a>
            <a href="#" class="list-group-item">
                <span class="glyphicon glyphicon"></span> Videos <span class="badge"></span>
            </a>
            <a href="#" class="list-group-item">
                <span class="glyphicon glyphicon"></span> Videos <span class="badge"></span>
            </a>
            <a href="#" class="list-group-item">
                <span class="glyphicon glyphicon"></span> Videos <span class="badge"></span>
            </a>
            <a href="#" class="list-group-item">
                <span class="glyphicon glyphicon"></span> Videos <span class="badge"></span>
            </a>

        </div>

    </div>
    <div class="row">

        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12"><h5>Save your Money</h5>When you buy a TextNow Wireless phone, you can expect to save over $500 in your first year on the cost of your device and service. And all of our plans are reasonably </div>
                <div class="col-md-12"><h5>Save your Money</h5>When you buy a TextNow Wireless phone, you can expect to save over $500 in your first year on the cost of your device and service. And all of our plans are reasonably</div>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="row">
                <div class="col-md-12">
                    <h3>Save your Money</h3>
                    When you buy a TextNow Wireless phone, you can expect to save over $500 in your first year on the cost of your device and service. And all of our plans are reasonably priced and 100% commitment free.
                    If you don't want to spend any money, you can always use our TextNow app to turn your iPod or iPad into a phone, add a second phone line to your iPhone, or text and call from the web. 100% free.
                </div>
                <div class="col-md-12">
                    <h3>Save your Money</h3>
                    When you buy a TextNow Wireless phone, you can expect to save over $500 in your first year on the cost of your device and service. And all of our plans are reasonably priced and 100% commitment free.
                    If you don't want to spend any money, you can always use our TextNow app to turn your iPod or iPad into a phone, add a second phone line to your iPhone, or text and call from the web. 100% free.
                </div>
            </div>
        </div>

    </div>
</form>

