
@{
    ViewBag.Title = "SaveClinicResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SaveClinicResult</h2>
@{
    <h3>User Name: @ViewBag.User1</h3>
    <h3>Passward: @ViewBag.Pass1</h3>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>